table {
border:3px solid #6495ed;
border-collapse:collapse;
width:90%;
margin:auto;
text
}
thead, tfoot {
background-color:#D0E3FA;
border:1px solid #6495ed;
}
tbody {
background-color:#FFFFFF;
border:1px solid #6495ed;
}
th {
font-family:monospace;
border:1px dotted #6495ed;
padding:5px;
background-color:#EFF6FF;
width:25%;
}
td {
font-family:sans-serif;
font-size:80%;
border:1px solid #6495ed;
padding:5px;
text-align:center;
width: 50%;
}
tr{
	width: 100%;
}
caption {
font-family:sans-serif;
}

body{

background-image:url(images/sky.jpg);
background-size: 100%;
}

.